<div class="topbar">
    <div class="logo-area">
        <img src="assets/img/Logo.png" alt="logo">  
    </div>  

    <div class="title-area">
        <h1>PETOPIA</h1>
    </div>

    <div class="right">
        <div class="upright">
            <div class="searchbox">
                <input type="search">
            </div>
            <div class="bagicon">
                <a href="#"> <img src="assets/img/Giỏ hàng.png" alt=""/> </a>
            </div>  
            <div class="accicon">
                <a href="#"> <img src="assets/img/Account.png" alt=""/> </a>
            </div>  
        </div>
        <div class="downright">
            <table class="menu">
                <tr>
                    <td>
                        <ul>
                            <li class="dropdown products-menu"><a href="#"> Products </a>
                            <div class="dropdown-content">
                                <a href="https://www.google.com.vn/?hl=vi" target="_blank"> Product A </a>
                                <a href="#"> Product B </a>
                                <a href="#"> Product C </a>
                              </div>
                            </li>
                            <li class="dropdown services-menu"><a href="#"> Services </a>
                                <div class="dropdown-content">
                                    <a href="#"> Service A </a>
                                    <a href="#"> Service B </a>
                                    <a href="#"> Service C </a>
                                </div>
                            </li>
                            <li class="dropdown"><a href="#"> Plans </a>
                                <div class="dropdown-content">
                                    <a href="#"> Plans A </a>
                                    <a href="#"> Plans B </a>
                                    <a href="#"> Plans C </a>
                                </div>
                            </li>
                            <li class="dropdown"><a href="#"> Tips </a>
                                <div class="dropdown-content">
                                    <a href="#"> Tips A </a>
                                    <a href="#"> Tips B </a>
                                    <a href="#"> Tips C </a>
                                </div>
                            </li>
                            <li><a href="#"> Orders </a></li>
                            <li><a href="#"> About us </a></li>
                        </ul> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>