<div>
    <span>
<a style ="color: #6f6060;" href ="" >Products</a>
<a style ="color: #6f6060;" href ="" >/Care products</a>
<a style ="color: #6f6060;" href ="assets/images/productdetail_img/Care1.png" >/Sữa Tắm Gội & Dầu xả Budle'Budle ECOLAND GENERAL Hàn Quốc 500ml</a>
    </span>
</div>
<br>
<br>
<div class="product-container">
    <div class="product-image">
        <img src="assets/images/productdetail_img/Care1.png" alt="Product Image" />
    </div>

    <div class="product-info">
        <div class="product-details">
            <div class="product-name">Under Stair Hamster House</div>
            <div class="discounted-price">155,000 VND</div>
            <div class="actual-price">
                <div class="actual-price-value">129.000VND</div>
            </div>
        </div>
        <div class="size-selection">
            <div class="size-options">
                <div class="size-label">
                    <div class="size-value">Select Size</div>
                    <div class="size-value">Medium</div>
                </div>
                <div class="size-guide-link">Size guide</div>
            </div>
            <div class="option-container">
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
                <!-- Repeat for other size options -->
            </div>
        </div>
    </div>
    <div class="add-to-bag-container">
        <div class="add-to-bag-background"></div>
        <div class="add-to-bag-text">Add to Bag</div>
    </div>
</div>

<div class="description-container">
    <div class="section-heading">
        <div class="heading-text">Description</div>
        <div class="divider"></div>
    </div>
    <div class="description-content">
        <p>Sleek and timeless. Titanium glasses with an innovative bridge...</p>
        <p>99.7% pure titanium front<br />More than 4hv on the Vickers hardness test...</p>
    </div>
</div>