<div class="container">
    <div class="header-check">
      <h2>Your cart</h2>
      <button type="button" class="btn btn-link top-right-button-back">Back</button>
    </div>
    <main>
      
      <div class="order">
          <table class="table table-checkout">
            <thead>
              <tr>
                <th scope="col">Items</th>
                <th scope="col">Prices</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25">
                  <img src="\assets\images\productdetail_img\toy9.png" class="img-fluid" alt="Sheep">
                  Under stair Hamster house</td>
                <td>129.000VND</td>
               <td class="qty"><input type="text" class="form-control" id="input1" value="0"></td>
               <td>129000</td>
               <td>cancel</td>
             </tr>
             <!--them tr moi khi co san pham-->
           </tbody>
         </table> 
         <table class="table table-checkout plans">
            <thead>
              <tr>
                <th scope="col"><label>
                    <input type="checkbox" id="selectAll" onchange="toggleCheckboxes()"></label> </th>
                <th scope="col"> 
                  Plans and Service</th>
                <th scope="col">Prices</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><label>
                    <input type="checkbox" class="childCheckbox"> 
                  </label></td>
                <td class="w-25">
                  <img src="\assets\images\services_img\h2.png" class="img-fluid" alt="Sheep">
                  Under stair Hamster house</td>
                <td>129.000VND</td>
               <td class="qty"><input type="text" class="form-control" id="input1" value="0"></td>
               <td>129000</td>
               <td>cancel</td>
             </tr>
             <!--them tr moi khi co san pham-->
           </tbody>
         </table> 
        </div>
      <div class="container check-out-order">
        <div class="row">
          <div class="col-sm-6 d-flex justify-content-center">
            <button type="button" class="btn btn-success">Proceed to checkout</button>
          </div>
          <div class="col-sm-6">
            <div class="totals">
              <div class="totals-item d-flex justify-content-between">
                <label>Subtotal(x items)</label>
                <div class="totals-value" id="cart-subtotal">0</div>
              </div>
              <div class="totals-item d-flex justify-content-between">
                <label>Shipping fee</label>
                <div class="totals-value" id="cart-shipping">0</div>
              </div>
              <div class="totals-item totals-item-total d-flex justify-content-between">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>